[submodule "src/be/nikiroo/fanfix"]
	path = src/be/nikiroo/fanfix
	url = ../fanfix
	branch = subtree
[submodule "src/be/nikiroo/utils"]
	path = src/be/nikiroo/utils
	url = ../nikiroo-utils
	branch = subtree
