html {
	text-align: justify;
	max-width: 800px;
	margin: auto;
}

.titlepage {
	padding-left: 10%;
	padding-right: 10%;
	width: 80%;
}

h1 {
	padding-bottom: 0;
	margin-bottom: 0;
	text-align: left;
}

.type {
	position: relative;
	font-size: large;
	color: #666666;
	font-weight: bold;
	padding-bottom: 10px;
	text-align: left;
}

.cover, .page-image {
	width: 100%;
}

.cover img {
	height: 45%;
	max-width: 100%;
	margin: auto;
}

.author {
	text-align: right;
	font-size: large;
	font-style: italic;
}

.book, .chapter_content {
	NO_text-indent: 40px;
	padding-top: 40px;
	padding-left: 5%;
	padding-right: 5%;
	width: 90%;
}

h2 {
	border: 1px solid black;
	color: #222222;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	padding-bottom: 0;
	margin-bottom: 0;
}

h2 .chap {
	color: #000000;
	font-size: large;
	font-variant: small-caps;
	display: block;
}

h2 .chap:first-letter {
	font-weight: bold;
}

h2 .chapnumber {
	color: #000000;
	font-size: xx-large;
}

h2 .chaptitle {
	color: #444444;
	font-size: large;
	font-style: italic;
	padding-bottom: 5px;
	text-align: right;
	display: block;
}

.normals {
}

.normal {
	/* Can be removed if you want a more "compact" view */
	display: block;
}

.blank {
	/* Can be removed if you want a more "compact" view */
	height: 24px;
	width: 100%;
}

hr.break {
	/* Can be removed if you want a more "compact" view */
	margin-top: 48px;
	margin-bottom: 48px;
}

.dialogues {
}

.dialogue {
	font-style: italic;
}
